<!DOCTYPE html>
<html lang="en" ng-app="myApp" ng-cloak>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="file.css">

  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.min.js"></script>
  <script src="vendor/components/angular.js/angular.min.js"></script>
  <script src="controllers.js"></script>

  <title>School</title>
</head>

<body>
  <div class="container">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#"> ALARA SEC. SCHOOL</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="index.html">Home</a></li>
          <li><a href="addstudent.php">Add Students</a></li>
          <li><a href="viewstudent.php">View Student</a></li>
          <li class="active"><a href="about.html">About</a></li>
          <li><a href="extra.html">Extra</a></li>

        </ul>
      </div>
    </nav>


  </div><br><br><br>

  <div class="container" ng-controller="myStaff">
    <h2>Staff Members</h2> 
    <label for="search">Search staff <input type="text" ng-model="search" placeholder="Angular.js filter!!"></label>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Firstname</th>
          <th>Lastname</th>
          <th>Contacts</th>
          <th>Subjects</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="x in staff | filter:search">
          <td>{{x.fname}}</td>
          <td>{{x.lname}}</td>
          <td>{{x.contacts}}</td>
          <td>{{x.subjects}}</td>
        </tr>
      </tbody>
    </table>

    <hr>
    <h4>JQuery</h4>

    <script>
      $(document).ready(function () {
        $("button").click(function () {
          $("#div1").slideToggle('slow');
        
      });



      });
    </script>
    <button>Hide/show(fade toggle)</button>
 <div id="div1" style="width: 1050px; height: 150px; background-color: greenyellow"></div>


  </div>

  <div>
  </div>

  <script src="vendor/angularfile.js"></script>
</body>

</html>