<!DOCTYPE html>
<html lang="en" ng-cloak ng-app="myApp"
    ng-init="person = {firstName:'kevin',lastName='odhiambo'};capitals=[{city:'nairobi',state:'nyapuodi'},{city:'mombasa',state:'akungo'},{city:'kisumu',state:'kaimbo'}]">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="file.css">
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="vendor/components/angular.js/angular.min.js"></script>

    <title>School</title>
</head>

<body>
    <div class="container">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#"> ALARA SEC. SCHOOL</a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="addstudent.php">Add Students</a></li>
                    <li><a href="viewstudent.php">View Students</a></li>
                    <li><a href="about.html">About</a></li>
                    <li class="active"><a href="extra.html">Extra</a></li>

                </ul>
            </div>
        </nav>
    </div><br><br><br>
    <h2>My Calculator</h2>

    <div class="container">
        <div class="panel panel-default">

            <div class="panel-body">
                <div class="container-fluid">
                    Enter first number:<br>
                    <input type="number" id="fnum"><br><br>

                    Enter Second number:<br>
                    <input type="number" id="snum"><br><br>

                    <select name="operator" id="operator">
                        <option value="+">+</option>
                        <option value="-">-</option>
                        <option value="/">/</option>
                        <option value="*">x</option>
                        <option value="%">%</option>
                    </select><br><br>

                    <button class="button" onclick="calc()">Calculate</button>
                    Answer:<input id="result">
                </div>
                <hr>
                <hr>
                <div>
                    <input type="text" ng-model="name">
                    <p>your name is: {{name}}</p>
                </div>
                <hr>
                <div ng-controller="myCtrl">

                    <span>Values</span>
                    <input type="text" ng-model="first" />
                    <input type="text" ng-model="last" />
                    <button type="button" ng-click="updateValue()">Sum</button>
                    {{calculate}}
                    <p>Your first value is :{{first}}</p>
                    <p>Your first value is: <span ng-bind="last"></span>
                    </p>

                </div>
            </div>
            <hr>
            <div ng-controller="myCont">
                <h3>Random number 1:{{random}}</h3>
                <h3>Random number 2:{{randomm}}</h3>
                <p>Sum of random numbers is: {{random + randomm}}</p>
                <input type="text" ng-model="random + randomm + '/='">
                <button type="button" ng-click="rNum()">Random</button>
            </div>
            <hr>
            <div ng-controller="bMood">
                <p>My Good feelings are : {{good}}</p>
                <p>My Bad feelings are : {{bad}}</p>
                <button type="button" ng-click="myMood()">Mood</button>
            </div>
            <hr>

            <div ng-controller="myGoods">

                <p>I have {{goods.length}} matereals in the store</p>
                <ol>
                    <li>
                        {{goods[0].item}} at {{goods[0].price}} each.
                    </li>
                </ol>
                      Search goods: <input type="text" ng-model="test">
                <ol>
                    <li ng-repeat="goods in goods  |filter:test">
                        {{goods.item}}

                    </li>
                </ol>

                <table style="padding: 0px">
                    <thead>
                        <th>Items</th>
                        <th>Prices</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="x in goods">
                            <td>{{x.item}}</td>
                            <td>{{x.price}}</td>
                        </tr>
                    </tbody>
                </table>

                Change First Item
                <input type="text" ng-model="goods[0].item">

                <h3>Goods List</h3>
                <div ng-include="'olgoods.html'"></div>

                <input type="checkbox" ng-model="showList">
                <label for="checkbox">Show with prices</label>

                <ng-include src="getList()"></ng-include>

                <hr>
                <h5>Enter Numbers between 1-10</h5>
                <input type="text" ng-model="number">

                <div ng-switch="number">
                    <p style="color:green" ng-switch-when="1"> You've entered number one</p>
                    <p style="color:green" ng-switch-when='2'> You've entered number two</p>
                    <p style="color:green" ng-switch-when='3'> You've entered number three</p>
                    <p style="color:green" ng-switch-when='4'> You've entered number four</p>
                    <p style="color:green" ng-switch-when='5'> You've entered number five</p>
                    <p style="color:green" ng-switch-when='6'> You've entered number six</p>
                    <p style="color:green" ng-switch-when='7'> You've entered number seven</p>
                    <p style="color:green" ng-switch-when='8'> You've entered number eight</p>
                    <p style="color:green" ng-switch-when='9'> You've entered number nine</p>
                    <p style="color:green" ng-switch-when='10'> You've entered number ten</p>
                    <p ng-switch-default='2' style="color:red"> Out of Range</p>
                </div>

                <hr>
                <div ng-controller="myEvents">
                        <h3>Events</h3>
                        <input type="text" ng-blur="blur=blur+1"
                        ng-click="click=click+1"
                        ng-dblclick="dblclick=dblclick+1"
                        ng-copy="copy=copy+1"
                        ng-paste="paste=paste+1"
                        ng-cut="cut=cut+1"
                        ng-focus="focus=focus+1"
                        ng-mouseenter="mouseenter=mouseenter+1"
                        ng-mouseleave="mouseleave=mouseleave+1">
                        
                        <h5>number of blurs are {{blur}}</h5>
                        <h5>number of clicks are {{click}}</h5>
                        <h5>number of dblclicks are {{dblclick}}</h5>
                        <h5>number of copy are {{copy}}</h5>
                        <h5>number of paste are {{paste}}</h5>
                        <h5>number of cut are {{cut}}</h5>
                        <h5>number of focus are {{focus}}</h5>
                        <h5>number of mouseenter are {{mouseenter}}</h5>
                        <h5>number of mouseleave are {{mouseleave}}</h5>
                </div>

                <hr>
                <button ng-disabled="disButton">Button</button>
                <label for="">
                    <input type="checkbox" ng-model="disButton">
                    Disable button
                </label>
            </div>



        </div>
        <script src="vendor/angularfile.js"></script>
</body>

</html>