body {
    background-color: linen;
}
h2 {
    color: maroon;
    margin-left: 40px;
} 
 #phead{
    padding: 5px;
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;

 }